*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: rgb(95, 158, 160);
    margin-top: 70px;
}

.dashboard{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto auto auto;
    gap: 20px;
    row-gap: 8px;

    max-width: 1100px;
    margin: 0 auto;
}

    
.card{
    border-radius: 24px;
    position: relative;
}

/* PICTURE FRAME CSS */

.folder-card {
    position: relative;
    grid-column: 1;
    grid-row: 1;
    width: 100%;
    max-width: 300px;
    aspect-ratio: 3 / 4;
    display: flex;
    justify-content: center;
    overflow: hidden;
    top: 68px;
    left: 50px;
}

/* FOLDER SHAPE */
.folder-bg {
    width: 100%;
    height: 100%;
    z-index: 1;
    display: block;
}

/* IMAGE INSIDE FOLDER */
.folder-img {
    position: absolute;
    bottom: -20px;
    left: 50%;
    transform: translateX(-50%);
    width: 180%;
    max-width: none;
    z-index: 2;
}


/* USER CSS */
.users-card {
    grid-column: 1;
    grid-row: 2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    background: rgb(108, 108, 184);
    height: 150px;
    width: 100%;
    max-width: 300px;
    padding: 0 20px;
    border-radius: 20px;
    margin-top: 6px;
    right: 0;
    top: 77px;
    left: 50px;

}

.text h2 {
    margin: 0;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    text-align: left;

}

.text p {
    margin: 0;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    text-align: left;
}

.imgs {
    display: flex;
    align-items: center;
}

.imgs img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 3px solid white;
    object-fit: cover;
    margin-left: -10px;

}

/* TEXT CARD */
.text-card {
    grid-column: 2;
    grid-row: 1;
    position: relative;
    width: 100%;
    max-width: 360px;
    aspect-ratio: 4 / 3;

}

.notched-bg {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    fill: rgb(76, 122, 126);
    z-index: 1;
    top: 40px;
}

.content {
    display: flex;
    position: relative;
    z-index: 2;
    color: white;
    padding: 48px;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
    top: 40px;
}

.corner-icon{
    position: absolute;
    z-index: 5;
    bottom: 169px;
    right: 0px;
    left: 300px
}

.snowflake-img{
    transition: transform 0.3s ease;
}

.snowflake-img:hover{
    transform: translateZ(-10px) scale(1.3);
    filter: drop-shadow(0 12px 24px rgba(255, 255, 255, 0.5));
}

.snowflake-icon{
    display: flex;
    background: black;
    width: clamp(44px, 6vw, 60px);
    height: clamp(44px, 6vw, 60px);
    justify-content: center;
    align-items: center;
    z-index: 6;
    border-radius: 20px;
}

.snowflake-icon > img{
    height: 40px;
    width: 40px;
    z-index: 4;
}

/* SERVICES SECTION */

.services-card {
    position: relative;
    grid-column: 2;
    grid-row: 2;
    aspect-ratio: 4 / 3;
    bottom: 70px;
    width: 100%;
    max-width: 360px;
    background: #5a647a;
    border-radius: 22px;
    padding: 16px;
    color: white;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/* HEADER */
.services-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 26px;
}

.services-header h3 {
    font-size: 16px;
    margin: 0;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    text-align: left;
}

.icon {
    opacity: 0.8;
}

/* TAGS CONTAINER */
.services-tags {
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

/* BASE TAG */
.tag {
    padding: 10px 30px;
    border-radius: 100px;
    font-size: 13px;
}

/* VARIANTS */
.outline {
    border: 1px solid rgba(255,255,255,0.6);
}

.green {
    background: #2fbf71;
}

.yellow {
    background: #f5d76e;
    color: black;
}

.black {
    background: black;
}

.white {
    background: white;
    color: black;
}

/* ROTATIONS  */
.rotate-1 { transform: rotate(-10deg); }
.rotate-2 { transform: rotate(8deg); }
.rotate-3 { transform: rotate(-5deg); }
.rotate-4 { transform: rotate(9deg); }
.rotate-5 { transform: rotate(-6deg); }
.rotate-6 { transform: rotate(7deg); }
.rotate-7 { transform: rotate(-11deg); }
.rotate-8 { transform: rotate(5deg); }
.rotate-9 { transform: rotate(-3deg); }
.rotate-10 { transform: rotate(8deg); }


.tag:hover {
  transform: scale(1.13);
}

/* DOWNLOAD/APP SECTION */
.app-card{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    grid-column: 3;
    grid-row: 1;
    aspect-ratio: 4/3;
    overflow: hidden;
    height: auto;
    width: 100%;
    max-width: 340px;
    background: #f5d76e;
    position: relative;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    text-align: left;

}

/* DETAILS SECTION */
.details{
    position: absolute;
    font-size: 12px;
    top: 25px;
    left: 30px;
    
}

.details > h1{
    font-size: 20px;
}

/* STAT DETALING AND FINE TUNING */
.stats{
    position: absolute;
    display: flex;
    justify-content: center;
    top: 143px;
    bottom: 0px;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    text-align: left;

}

.stat-1, .stat-2{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: 350;
}

.stat-1> strong{
    font-size: 24px;
}

.stat-2 > strong{
    font-size: 24px;
}

.stats > div{
    margin: 40px;
}

/* DOWNLOAD BUTTON */

.download{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 125px;
    left: 70px;

    padding: 13px;
    border-radius: 16px;
    background: black;
    color: white;
    cursor: pointer;
    transition: transform 0.3s ease;
    transform-origin: center;
    text-decoration: none;
}

.download:hover{
    transform: scale(1.06);
}

.arrow-circle{
    border-radius: 999px;
    height: 50px;
    width: 50px;
    background: rgb(0, 0, 0);
    margin-left: 250px;
    margin-bottom: 70px;
}

/* GRAPH SECTION */

.graph-card{
    position: relative;
    width: 100%;
    max-width: 340px;
    aspect-ratio: 3 / 3.65;
    z-index: 0;
    background: black;
    grid-column: 3;
    grid-row: 2;
    bottom: 130px;
}

.graph-header h3{
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    text-align: left;
    color: white;
    margin-top: 25px;
    margin-left: 30px;
}

.graph-bars{
    display: flex;
    justify-content: space-evenly;
    align-items: flex-end;
    align-self: center;
    height: 220px;
    z-index: 4;
    margin-top: 160px;
}

.bar{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 6px;
    margin: 0;
    transition: transform 0.3s ease;
}

.bar:hover{
    transform: translateZ(-10px) scale(1.2);
}

.bar-value{
    position: absolute;
    font-size: 12px;
    opacity: 0.8;
    z-index: 3;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    color: white;
    bottom: calc(var(--h) + 8px);
    left: 50%;
    transform: translateX(-50%);
    
}

.bar-lower {
    font-size: 12px;
    opacity: 0.7;
    z-index: 4;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    color: white;
}

.bar-track{
    position: relative;
    height: 200px;
    display: flex;
    align-items: flex-end;
    margin: 0;
}

/* THE BAR ITSELF */
.bar-fill {
  display: block;
  width: 45px;
  height: var(--h);
  background-color: #0b84c6;
  border-radius: 12px;
}

.bar:nth-child(even) span {
  background: #f5d76e;
}

/* THE CIRCLE ICON */
.badge {
  width: 80px;
  height: 80px;
  margin-bottom: -160px;
  margin-left: 238px;
  
}

/* GRAPH SECTION ENDS */


/* RESPONSIVENESS */
@media (max-width: 1024px) {

    html, body{
        overflow-x: hidden;
    }

  .dashboard {
    grid-template-columns: repeat(2, 1fr);
    row-gap: 24px;
    padding: 0;
  }

  /* RESET ALL DESKTOP OFFSETS */
  .folder-card,
  .users-card{
    top: 0px;
    left: 70px;
  }

  .folder-card{
    left: 100px;
  }

  .users-card{
    left: 100px;
  }

  .app-card{
    top: -98px;
    bottom: 40px;
    left: -80px;
  }

  .text-card{
    left: -60px;
  }
  .services-card{
    top: -100px;
    bottom: 30px;
    left: 120px
  }

  .graph-card{
    top: -100px;
    left: -30px;
  }

  /* REPOSITION GRID */
  .folder-card { grid-column: 1; grid-row: 1; }
  .text-card   { grid-column: 2; grid-row: 1; }
  .app-card    { grid-column: 2; grid-row: 2; }

  .users-card    { grid-column: 1; grid-row: 2; }
  .services-card { grid-column: 1; grid-row: 3; }
  .graph-card    { grid-column: 2; grid-row: 3; }

  /* CENTER CARDS */
  .dashboard > * {
    justify-self: center;
  }
}

@media (max-width: 640px) {

    html, body{
        overflow-x: hidden;
        /* overflow-y: hidden; */
    }
    
  .dashboard {
    grid-template-columns: 1fr;
  }

  .dashboard > * {
    grid-column: 1;
    justify-self: stretch;
  }

  .folder-card{
    left: 0px;
  }

 .text-card{
    top: 380px;
    left: 0px;
 }

 .snowflake-icon{
    padding: 34px;
 }

 .users-card{
    width: 400px;
    top: 280px;
    left: 0px;
 }


 .services-card{
    top: 180px;
    left: 0px;
 }

 .graph-card{
    top: 500px;
    left: 0px;
 }

 .app-card{
    top: 1220px;
    left: 0px;
 }

 .dashboard > * {
    justify-self: center;
  }

  .snowflake-icon {
    transform: scale(0.85);
  }
}

@media (max-width: 412px) {

    html, body{
        overflow-x: hidden;
    }
    .dashboard {
    grid-template-columns: 1fr;
  }

  .dashboard > * {
    grid-column: 1 !important;
    justify-self: stretch;
  }

  .folder-card{
    left: 0px;
  }

  .text-card{
    left: 0px;
  }

  .users-card{
    left: 0px;
  }

  .app-card{
    top: 1210px;
    bottom: 20px;
    left: 0px;
  }

  .services-card{
    top: 180px;
    left: 0px;
  }

  .graph-card{
    top: 500px;
    left: 0px;
  }

  .dashboard > * {
    justify-self: center;
  }
}







